@import url('https://fonts.googleapis.com/css2?family=Playwrite+CA:wght@100..400&display=swap');

body{
    height: 100dvh;
    margin: 0;
    background: #FFAFBD;  /* fallback for old browsers */

    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */

    background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div#root{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centrado{
    aspect-ratio: 1/1;
    width: 30%;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 100%;
    user-select: none;
    box-shadow: inset 0 0 10px black;
}

.centrado:active{
    box-shadow: inset 0 0 10px black;
}

.playwrite-ca{
  font-family: "Playwrite CA", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
